# Core ML/Vector DB dependencies
numpy
sentence-transformers
qdrant-client
torch

# PDF Parsing
pdfplumber

# Logging
python-json-logger

# Configuration
python-dotenv
pydantic

llama-cpp-python

# Model Downloading
huggingface-hub[cli]

litellm
google-generativeai